<p style="color: green"><%= notice %></p>

<h1>Trainings</h1>

<div id="trainings">
  <% @trainings.each do |training| %>
    <%= render training %>
    <p>
      <%= link_to "Show this training", training %>
    </p>
  <% end %>
</div>

<%= link_to "New training", new_training_path %>
