<p style="color: green"><%= notice %></p>

<h1>Trainings</h1>
<%= link_to "Create New Training", new_training_path %>
<br />
<br />

<div id="trainings">
  <% @trainings.each do |training| %>
    <%= render training %>
    <hr>
  <% end %>
</div>

