<div id="<%= dom_id assessment_level %>">
  <p>
    <strong>Level:</strong>
    <%= assessment_level.level %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= assessment_level.description %>
  </p>

</div>
