<div id="<%= dom_id assessment_level %>">
  <p>
    <strong>Level:</strong>
    <%= link_to assessment_level.level, assessment_level %>
    <strong>Description:</strong>
    <%= assessment_level.description %>
  </p>
</div>
