<p style="color: green"><%= notice %></p>

<h1>Assessment levels</h1>
<%= link_to "New assessment level", new_assessment_level_path %>
<br />
<br />

<div id="assessment_levels">
  <% @assessment_levels.each do |assessment_level| %>
    <%= render assessment_level %>
  <% end %>
</div>

