<div id="<%= dom_id contact_took_training %>">
  <p>
    <strong>Trained on:</strong>
    <%= contact_took_training.trained_on %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= contact_took_training.contact_id %>
  </p>

  <p>
    <strong>Training:</strong>
    <%= contact_took_training.training_id %>
  </p>

</div>
