<h1>New contact took training</h1>

<%= render "form", contact_took_training: @contact_took_training %>

<br>

<div>
  <%= link_to "Back to contact took trainings", contact_took_trainings_path %>
</div>
