<div id="<%= dom_id employment_type %>">
  <p>
    <strong>Name:</strong>
    <%= employment_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= employment_type.description %>
  </p>

</div>
