<% content_for :title, "New employment type" %>

<h1>New employment type</h1>

<%= render "form", employment_type: @employment_type %>

<br>

<div>
  <%= link_to "Back to employment types", employment_types_path %>
</div>
