<p style="color: green"><%= notice %></p>

<% content_for :title, "Applicants" %>

<h1>Applicants</h1>

<div id="applicants">
  <% @applicants.each do |applicant| %>
    <%= render applicant %>
    <p>
      <%= link_to "Show this applicant", applicant %>
    </p>
  <% end %>
</div>

<%= link_to "New applicant", new_applicant_path %>
