<h1>Editing job level</h1>

<%= render "form", job_level: @job_level %>

<br>

<div>
  <%= link_to "Show this job level", @job_level %> |
  <%= link_to "Back to job levels", job_levels_path %>
</div>
