<% content_for :title, "DVRSLY" %>
<h1><%= @user.username %></h1>

<div id="posts">
  <% @user.posts.each do |post| %>
    <div id="<%= dom_id post %>" class="post">
      <p class="post-title"><%= link_to sanitize(post.title), post %></p>
      <div class="post-body"><%= truncate(strip_tags(post.body), length: 250) %></div>
    </div>
  <% end %>
</div>


<h1>HERE</h1>
