<div id="<%= dom_id state %>">
  <p>
    <strong>Name:</strong>
    <%= state.name %>
  </p>
  
  <p>
    <strong>Country:</strong>
    <%= state.country.name %>
  </p>

  <p>
    <strong>Usps:</strong>
    <%= state.usps %>
  </p>

</div>
