<p style="color: green"><%= notice %></p>

<h1>Events</h1>
<%= link_to "New event", new_event_path %>
<br />
<br />

<p style="text-align: center; background-color: orange;"><strong>Timezone localization coming soon</strong></p>
<div id="events">
<table class="table is-striped is-hoverable is-fullwidth">
<tr><th>Name</th><th>Type</th><th>Start Date/Time</th><th>End Date/Time</th><th>Description</th></tr>
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
</table>
</div>

