<h1>Editing job title</h1>

<%= render "form", job_title: @job_title %>

<br>

<div>
  <%= link_to "Show this job title", @job_title %> |
  <%= link_to "Back to job titles", job_titles_path %>
</div>
