<p style="color: green"><%= notice %></p>

<h1>Job titles</h1>

<%= link_to "New job title", new_job_title_path %>
<div id="job_titles">
  <table>
  <thead>
  <tr><th>Job Title</th><th>Description</th></tr>
  </thead>
  <tbody>
  <% @job_titles.each do |job_title| %>
    <%= render job_title %>
  <% end %>
  </tbody>
  </table>
</div>

