<p>Workers.Win is building software to help Workers Organize. It will be Open Source released under the AGPL3 so folks can run their own instances. If things go according to plan, we will offer a paid, hosted solution for groups that don't want the overhead of maintaining a server.</p>
