<p>Workers.Win is building software to help Workers Organize.</p>
<p>It is Free and Open Source Software released under the AGPL3 so folks can run their own instances.</p>
<p>If things go according to plan, we will offer a paid, hosted solution for groups that don't want the overhead of maintaining a server.</p>
