<h1>Changelog</h1><pre>f87d585 (logo for non-authenticated navbar, 2025-04-20)
02c3e3a (changelog, 2025-04-20)
3f58e34 (bulma formatting; cheesy logo, 2025-04-20)
146d1f1 (bulma formatting, 2025-04-20)
0f1b0d8 (changelog, 2025-04-19)
d9d816e (migrated from bootstrap to bulma css, 2025-04-19)
3499487 (changelog update, 2025-04-19)
2679148 (contacts and applicants updates; dashboard updates, 2025-04-19)
e860317 (changelog, 2025-04-19)
58e6d02 (check if applicant already exists in contacts; display message and link if so, 2025-04-19)
630e4e7 (applicant field updates, 2025-04-17)
d4e0b17 (changelog, 2025-04-16)
7d2f8b0 (typo in organizations for testing, 2025-04-16)
c18ca39 (cleaning up organizations for testing, 2025-04-16)
171773d (organizations for testing, 2025-04-16)
1d5b7c5 (changelog update, 2025-04-16)
f59ee32 (organizations to navbar; applicant field updates; employment_type scaffold, 2025-04-16)
c0e81d5 (fixing layouts; adding links, 2025-04-16)
88ab25d (missing table headers in contacts, 2025-04-16)
6c12535 (updated changelog, 2025-04-16)
9361f95 (most things working for early demo, 2025-04-16)
1149eee (prod deploy, 2025-04-15)
fed32ba (rails 8 javascript stuff, 2025-04-15)
ab36a65 (action text, 2025-04-15)
db2ff9d (more rails 8 again, 2025-04-15)
fa14d1f (1000 test contacts, 2025-04-15)
ce95886 (more more more rails 8 stuff, 2025-04-15)
fd0ce88 (even more rails 8 upgrade stuff, 2025-04-15)
6cb5eba (more rails 8 upgrade stuff, 2025-04-15)
e67f22f (reordered gems, 2025-04-15)
83d090b (reducing seeds, 2025-04-15)
73701ef (more deployment stufff, 2025-04-15)
31260b6 (stuff that was not included in rails 7.0, 2025-04-15)
29ed3fc (reduce number of test contacts, 2025-04-15)
038e85a (more docker files, 2025-04-15)
079a8f3 (kamal updates, 2025-04-15)
5d9672b (kamal and dockerfile updates, 2025-04-15)
7c81a7a (latest updates, 2025-04-15)
2eccbb9 (updated dashboard; layout links; applicant db fields, 2025-04-15)
58384af (updated tech info and moved to guide, 2025-04-15)
d9c8174 (dashboards; better nav; job title fixes; event fixes; report fixes, 2025-04-15)
7e9d6a7 (latest, 2025-04-14)
f977810 (applicant for signup; dashboard for stats; layout and copy clean up; more job titles in seeds, 2025-04-14)
95c79c9 (removed blank line, 2025-04-13)
5ec2361 (moved to Roadmap, 2025-04-13)
36c363b (typo, 2025-04-13)
9f60244 (moved to Roadmap, 2025-04-13)
c050531 (redundant info, 2025-04-13)
9a1c6fa (updates, 2025-04-13)
802bf4f (clearning up country, state, and city views, 2025-04-12)
b900bbc (cleaner footer, 2025-04-12)
d78ec43 (added homepage to social media sites, 2025-04-12)
f9c78fb (print seeding progress, 2025-04-12)
3456caf (update to rails 8, sqlite, 2025-04-06)
57fff1c (Organizations, 2024-06-04)
a3c9b8a (Locations scaffold plus a few changes, 2024-06-03)
efe2f67 (format adjustment to seeds, 2024-06-02)
54ae6af (slightly cleaner displays for city and state. added seeds, 2024-06-02)
f652948 (cities don't need to be related to countries except through state, 2024-06-01)
71af1c4 (indexes for states and cities, 2024-05-31)
dd0f84a (names must be unique. need way to be uniq to a particular state, 2024-05-31)
f95c4ae (validate presence country, state, city names, 2024-05-31)
08da8d3 (City scaffolding, 2024-05-30)
97a1ffc (adding country and state seeds, 2024-05-30)
8495dea (City scaffolding, 2024-05-30)
cdf2bb0 (State scaffolding, 2024-05-30)
40cbaa0 (Country scaffold, 2024-05-30)
72f3f1f (categorized some todos, 2024-05-30)
bba3656 (removed extra td tag, 2024-05-30)
97af20e (Update home to have some nice links :), 2024-05-13)
70a63e0 (Add text and email links., 2024-05-13)
0ba2e67 (Add method for getting current assessment of contact., 2024-05-13)
24235a4 (Rename association to make it a little easier to read, 2024-05-13)
be7e837 (Refactor partials + improve contact view., 2024-05-13)
50c0e6a (Up version of yarn to Yarn Modern (should work the same). Also add node-version to keep same node version., 2024-05-13)
fe61241 (Fix issues with MySQL install. Also set up docker-compose.yml for local dev., 2024-05-13)
9ae9cde (Update Gemfile from bundle install., 2024-05-13)
22bd6d4 (more todo items, 2024-05-09)
fa9feb5 (more todo items, 2024-05-09)
b6e34f8 (added labels to fields, 2024-05-09)
9c4ae80 (additional todo items, 2024-05-09)
9c9ee63 (trying to add note to assessments form, 2023-09-18)
69adf25 (notes stuff. trying to add to assessment form, 2023-09-18)
e8488ab (target date is required for report, 2023-09-17)
361abe6 (target date search form on page now, 2023-09-17)
ebc253a (chaning report links; adding new report, 2023-09-17)
277dd7f (initial reporting scaffold, 2023-09-17)
d8758a1 (figured out current level counts, 2023-09-17)
5344dfa (more sql, 2023-09-16)
c5dffa9 (formatting code block, 2023-09-16)
61396a1 (sql notes, 2023-09-16)
690b66f (adding reports, 2023-09-15)
8d9a184 (Level 99 should be last, 2023-09-15)
b693709 (Login to Sign In, 2023-09-15)
aa76920 (added work email and username; separate partial for contact index and show, 2023-09-15)
1afbe3b (no need to authenticate to view home or about pages, 2023-09-15)
fb85255 (authorize before using any portion of the app, 2023-09-15)
2aa470d (Renamed Account to Profile, 2023-09-15)
ac5d6db (updated devise and secret keys, 2023-09-14)
8efcb6a (sign up / login / logout links, 2023-09-14)
17fc5c4 (added header tag, 2023-09-14)
5107e04 (devise not like turbo. turbo: false, 2023-09-14)
34ef9bb (seed 1000 users, 2023-09-14)
a43e8c0 (added items, 2023-09-14)
ca0b042 (adding pagination, 2023-03-03)
c793bc5 (basic contacts search autocomplete working, 2023-03-03)
a5eb7ad (show contact names in assessment form, 2023-02-22)
b0dc554 (contacts pagination with Pagy, 2023-02-22)
b4beba9 (event_type index formating, 2023-02-18)
c45fa00 (assessment levels listing formatting, 2023-02-17)
3ba33a0 (training stuff, 2023-02-17)
8031efa (contact_took_training stuff, 2023-02-16)
7a83b2d (only show event fields if they have data, 2023-02-16)
6fd7701 (assessment stuff, 2023-02-16)
e1cc6f0 (only display fields if they have data, 2023-02-16)
cb92d31 (basic seeds for dev, 2023-02-16)
fb9f1d4 (changed paid hosting wording in About content, 2023-02-16)
68b4808 (basic About content, 2023-02-16)
9471533 (container-fluid around yield, 2023-02-16)
932323a (collection select for event type in event, 2023-02-16)
52d357c (new todo item, 2023-02-15)
8d42119 (event formatting, 2023-02-15)
9458ad6 (new todo item, 2023-02-15)
27419bf (contact index fields link to contact, 2023-02-15)
33b60da (table for contacts index, 2023-02-15)
9fd4576 (store listing, 2023-02-15)
463400e (links to store, 2023-02-15)
083722c (footer link to software and store, 2023-02-15)
47cfcae (Create LICENSE, 2023-02-15)
77a673a (footer updates, 2023-02-15)
0105349 (event_types and events, 2023-02-15)
e29dc5d (added TODO list, 2023-02-14)
8f23d5b (initial commit, 2023-02-14)
</pre>