<h1>Frequently Asked Questions</h1>


<h2>Usernames</h2>
<ul>
  <li>Maximum username length is 25 characters</li>
  <li>Only letters, numbers, dashes (-), and underscores (_) are allowed.</li>
  <li>Not case-sensitive: JohnDoe and jOHNdOE are considered the same name.</li>
  <li>No spaces ( ). Spaces will be replaced with underscores (_)</li>
  <li>No usernames that are vulgar, profane, or based on hate groups or terrorist organizations.</li>
  <li></li>
  <li></li>
</ul>
