<h1>Guide</h1>

<h2>Admin</h2>
<pre>
** The following steps still need to be built **
Admins maintain the Job Titles, Job Levels, Locations, etc.
</pre>

<h2>Applicants</h2>
<pre>
Applicant uses Join Us form (working)
** The following steps still need to be built **
System checks if Contact already exists
  If yes, marks Applicant with Contact ID
OC reviews Applicant
  If Approved
    System creates Contact
    System displays new Contact for review
    OC updates Contact as appropriate and saves Contact
  If Rejected (spam entry)
    System deletes Applicant
</pre>

<h2>Assessments</h2>
<pre>
All Assessments are recorded and permanent.
If a Contact's Assessment changes a new Assessment is entered, preserving any past Assessments
New Assessments: User enters the Date of Assessment, Assessment Level, Assessee, Assessor, and Note
A specific Contact's Assessments, past and current, are listed in the Contact's Detail page
All Assessments, past and current, are listed in the Assessments View.
Current Assessments are listed in the Dashboards and Reports pages
</pre>

<h2>Events</h2>
<pre>
** The following steps still need to be built **
</pre>

<h2>Committees</h2>
<pre>
** The following steps still need to be built **
Ability for Members to message committees directly
</pre>

<h2>Communications</h2>
<pre>
** The following steps still need to be built **
Private Messages between Users
Notifications, on comment replies and when you're tagged.
Notifications can be sent via email.
</pre>

<h2>Contacts</h2>
<pre>
Members update their own information in the system
OC members and those designated can update all Member information as well
** The following steps still need to be built **
Way to list all contacts in specific level
Bulk email and text for members
Automatic reminders to contact folks at set intervals
</pre>

<h2>Dashboard</h2>
<pre>
Number of Applicants to Review
Number of upcoming Events as well as listing up to the next five Events
Number of Contacts
Current Assessment Levels
Number of Organizations
Number of Notes
** The following steps still need to be built **
Number of all Tasks and Tasks assigned to the current Member
Number of all Votes and Votes assigned to the current Member
Longest span without member communication
Number Members gained in the last 30 days
Number Members lost in the last 30 days
</pre>

<h2>Reports</h2>
<pre>
Current Assessment Counts
Real-time totals for the last 6 months displayed
** The following steps still need to be built **
Last Communication Report for Contacts
</pre>

<h2>System (Coming Soon)</h2>
<pre>
** The following steps still need to be built **
Automatic, scheduled backups
Terms of Service
Privacy Policy
User guides
i18n / internationalization support
Dark Mode
Logo icons, square (in px), 16, 32, 48, 256, 512
</pre>

<h2>Tasks (Coming Soon)</h2>
<pre>
** The following steps still need to be built **
Tasks (assigned to user, reminders, notification of completion, notes on task)
</pre>

<h2>Users</h2>
<pre>
** The following steps still need to be built **
Users created by promoting Contacts
Authentication: Keycloak and Discord
Different roles with various access privileges
  Example:
    General members can only see their own info
    Committee members can see others on committee
    OC members can see everyone
User tagging using at (@)
</pre>

<h2>Voting</h2>
<pre>
** The following steps still need to be built **
Proposals
One-off events
Easy reporting and historical views. Links to Proposal Documents
</pre>
