<h1>Guide</h1>

<h2>Admin</h2>
<pre>
  Admins maintain the Job Titles, Job Levels, Locations, etc.
</pre>

<h2>Applicants</h2>
<pre>
Applicant uses Join Us form
System checks if Contact already exists
  If yes, marks Applicant with Contact ID
OC reviews Applicant
  If Approved
    System creates Contact
    System displays new Contact for review
    OC updates Contact as appropriate and saves Contact
  If Rejected (spam entry)
    System deletes Applicant
</pre>

<h2>Assessments</h2>
<pre>
</pre>

<h2>Events</h2>
<pre>
</pre>

<h2>Committees</h2>
<pre>
Ability for Members to message committees directly
</pre>

<h2>Communications</h2>
<pre>
  Private Messages between Users
  Notifications, on comment replies and when you're tagged.
  Notifications can be sent via email.
</pre>

<h2>Contacts</h2>
<pre>
  Sign up with an email address, username
  Members update their own information in the system
  Way to list all contacts in specific level
  Bulk email and text for members
  Automatic reminders to contact folks at set intervals
</pre>

<h2>Dashboard</h2>
<pre>
  Events
  Tasks
  Votes
</pre>

<h2>Reports</h2>
<pre>
  Current Assessment Counts
  Real-time totals for the last 6 months displayed
  Last Communication Report for Contacts
</pre>

<h2>System (Coming Soon)</h2>
<pre>
  Automatic, scheduled backups
  Terms of Service
  Privacy Policy
  User guides
  i18n / internationalization support
  Dark Mode
  Logo icons, square (in px), 16, 32, 48, 256, 512
</pre>

<h2>Tasks (Coming Soon)</h2>
<pre>
  Tasks (assigned to user, reminders, notification of completion, notes on task)
</pre>

<h2>Users</h2>
<pre>
  Authentication: Keycloak and Discord
  Different roles with various access privileges
    Example:
      General members can only see their own info
      Committee members can see others on committee
      OC members can see everyone
  User tagging using at (@)
</pre>

<h2>Voting</h2>
<pre>
  Proposals
  One-off events
  Easy reporting and historical views. Links to Proposal Documents
</pre>
