<div style="text-align: center">
<h1>Workers.Win Engage</h1>
<p>Organize To Control The Conditions Of Your Labor!</p>


<div style="margin: 50px; padding: 50px; background-color: orange; text-align: center; font-size: 3em;"><%= link_to "Join Us!", new_applicant_path %></div>
</div>
