<h1>Tech Stuff</h1>

<h2>Process Flows</h2>

<h3>Assessments</h3>
<ol>
  <li></li>
</ol>

<h3>Events</h3>
<ol>
  <li></li>
</ol>

<h3>Sign Up</h3>
<ol>
  <li>Person goes to "Join" password protected page, fills in data fields, submits</li>
  <li>System creates new entry in Contacts, marks for review by OC</li>
  <li>OC member reviews new request, if request is rejected, system notifies Requester, marks Contact as denied/invalid/etc., process ends</li>
  <li>If request is accepted:
    <ol>
      <li>Contact is marked valid/accepted/etc</li>
      <li>Corresponding User record is created</li>
      <li>System triggers "Forgot My Password" process, sending new User a temporary password</li>
      <li>User logs in and changes their password as they desire</li>
    </ol>
  </li>
</ol>

<h3>Tasks</h3>
<ol>
  <li></li>
</ol>

<h3>Voting</h3>
<ol>
  <li></li>
</ol>





<h2>Upcoming Features (in approximate order)</h2>

<h3>Admin</h3>
<ol>
  <li>Admins to maintain the Job Titles, Job Levels, Locations, etc.</li>
</ol>

<h3>Assessments</h3>
<ol>
</ol>

<h3>Committees</h3>
<ol>
  <li>Ability for Members to message committees directly</li>
</ol>

<h3>Communications</h3>
<ol>
  <li>Private Messages between Users</li>
  <li>Notifications, on comment replies and when you're tagged.</li>
  <li>Notifications can be sent via email.</li>
</ol>

<h3>Contacts</h3>
<ol>
  <li>Sign up with an email address, username</li>
  <li>Members update their own information in the system</li>
  <li>Way to list all contacts in specific level</li>
  <li>Bulk email and text for members</li>
  <li></li>
</ol>

<h3>Dashboard</h3>
<ol>
  <li>Tasks
  <li>Votes
  <li>Events
</ol>

<h3>Reports</h3>
<ol>
  <li>Real-time totals for the last 6 months displayed</li>
  <li>Last Contact Report for membership</li>
</ol>

<h3>System</h3>
<ol>
  <li>Automatic, scheduled backups</li>
  <li>Terms of Service </li>
  <li>Privacy Policy</li>
  <li>User guides</li>
  <li>i18n / internationalization support.</li>
  <li>Dark Mode</li>
  <li>Logo icons, square (in px), 16, 32, 48, 256, 512</li>
</ol>

<h3>Tasks</h3>
<ol>
  <li>Tasks (assigned to user, reminders, notification of completion, notes on task)</li>
</ol>

<h3>Users</h3>
<ol>
  <li>Authentication: Keycloak and Discord</li>
  <li>Different roles with various access privileges. Example: General members can only see their own info. Committee members can see others on committee. OC members can see everyone.</li>
  <li>Automatic reminders to contact folks at set intervals</li>
  <li>Reminders to regularly contact members. </li>
  <li>User tagging using at (@)</li>
</ol>


<h3>Voting</h3>
<ol>
  <li>Proposals</li>
  <li>One-off events</li>
  <li>Easy reporting and historical views. Links to Proposal Documents</li>
</ol>

<h2>Working Features</h2>
<ol>
  <li>Manual database backups</li>
<ol>
