<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>
<%= link_to "New contact", new_contact_path %>
<br />
<br />
<%== pagy_bulma_nav(@pagy) if @pagy.pages > 1 %>
<div id="contacts">
<table class="table is-striped is-hoverable is-fullwidth">
<thead
<tr><th>First Name</th><th>Last Name</th><th>Pronouns</th><th>Mobile Phone</th><th>Personal Email</th><th>Work Username</th><th>Work Email</th></tr>
</thead>
<tbody>
  <% @contacts.each do |form| %>
    <%= render partial: "contact_list", locals: {contact: form} %>
  <% end %>
</tbody>
</table>
</div>

