<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>
<%= link_to "New contact", new_contact_path %>
<br />
<br />
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<div id="contacts">
<table class="table table-striped table-hover">
<tr><th>First Name</th><th>Last Name</th><th>Pronouns</th><th>Email</th><th>Phone</th></tr>
  <% @contacts.each do |form| %>
    <%= render partial: "contact_list", locals: {contact: form} %>
  <% end %>
</table>
</div>

