<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>
<%= link_to "New contact", new_contact_path %>
<br />
<br />

<div id="contacts">
<table class="table table-striped table-hover">
<tr><th>First Name</th><th>Last Name</th><th>Pronouns</th><th>Email</th><th>Phone</th></tr>
  <% @contacts.each do |contact| %>
    <%= render contact %>
  <% end %>
</table>
</div>

