<h2>Current Stats</h2>
<ul>
  <li><%= link_to pluralize(Contact.count, "Contact"), contacts_path %></li>
  <li><%= link_to pluralize(Assessment.count, "Assessment"), assessments_path %></li>
  <li><%= link_to pluralize(Note.count, "Note"), notes_path %></li>
  <li>Longest span without member communication: XXX</li>
  <li>XXX members gained in the last 30 days</li>
  <li>XXX members lost in the last 30 days</li>
  <li>Something</li>
  <li>Something Else</li>
  <li>Another Thing</li>
</ul>
