<div id="<%= dom_id social_media_type %>">
  <p>
    <strong>Name:</strong>
    <%= social_media_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= social_media_type.description %>
  </p>

</div>
