<div id="<%= dom_id event_type %>">
  <p>
    <strong>Name:</strong>
    <%= link_to event_type.name,event_type %>
  <p>
  <p><strong>Number of Events with this Type</strong>
    <%= event_type.events&.count %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= event_type.description %>
  </p>
</div>
