<h1>Editing event type</h1>

<%= render "form", event_type: @event_type %>

<br>

<div>
  <%= link_to "Show this event type", @event_type %> |
  <%= link_to "Back to event types", event_types_path %>
</div>
