<p style="color: green"><%= notice %></p>

<h1>Event types</h1>
<%= link_to "New event type", new_event_type_path %>
<br />
<br />

<div id="event_types">
  <% @event_types.each do |event_type| %>
    <%= render event_type %>
  <% end %>
</div>

