<div id="<%= dom_id city %>">
  <p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= city.country_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= city.state_id %>
  </p>

</div>
