<div id="<%= dom_id city %>">

  <p>
    <%= link_to city.name, city %>, 
    <% unless city.state_id.blank? %> <%= link_to city.state.name, city.state %>, <% end %>
    <% unless city.country_id.blank? %> <%= city.country.name %>, <% end %>
  </p>

</div>
