<p style="color: green"><%= notice %></p>

<h1>Cities</h1>
<%= link_to "New city", new_city_path %>

<%== pagy_nav_bootstrap(@pagy) %>
<div id="cities">
  <% @cities.each do |city| %>
    <%= render city %>
  <% end %>
</div>

