// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
//@import "bulma/sass/utilities/_all.sass";
//@import "bulma/sass/base/_all.sass";
//@import "bulma/sass/elements/button.sass";
//@import "bulma/sass/elements/container.sass";
//@import "bulma/sass/elements/title.sass";
//@import "bulma/sass/form/_all.sass";
//@import "bulma/sass/components/navbar.sass";
//@import "bulma/sass/layout/hero.sass";
//@import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';


// =======================================================
[data-theme=hardboiled],
.theme-harboiled {

  // 60 95% 45% = greenish yellow

  html { background-color: hsl(360 100% 100%); color: #000; }
  body { background-color: hsl(360 100% 100%); color: #000; }

  color: #000;
  a:link, a:visited { color: #000; }
  a:hover { color: #f00; }

  .input { background-color: hsl(360 100% 100%); color: hsl(360 100% 50%); }

  --bulma-body-background-color: hsl(360 100% 100%);
  --bulma-input-background-l: hsl(360 100% 100%);
  --bulma-label-color: hsl(360 100% 50%);

  .box {
    --bulma-box-background-color: hsl(60 95% 45%);
    --bulma-box-color: hsl(0 0% 0%);
  }

  .content {
    --bulma-box-background-color: hsl(60 95% 45%);
    --bulma-content-heading-color: hsl(0 0% 0%);
  }

  .navbar {
    --bulma-navbar-background-color: hsl(60 95% 45%);
    --bulma-navbar-h: 0;
    --bulma-navbar-s: 100%;
    --bulma-navbar-item-color-l: 50%;
    --bulma-navbar-item-selected-l: 5%;
    --bulma-navbar-item-selected-background-l: 63%;
  }

  .post { background-color: hsl(60 95% 45%); }

  .footer {
    --bulma-footer-background-color: hsl(360 100% 100%);
  }
  .slogan { color: #f00; font-weight: 900; }

  .trix-content pre { color: hsl(0 0% 0%); }

  trix-editor {
    background-color: #fff;
  }
}

// =======================================================
[data-theme=pinkie],
.theme-pinkie {

  html { background-color: hsla(320 100% 80% / 0.5); color: #000; }
  body { background-color: hsla(320 100% 80% / 0.5); color: #000; }
  
  a:link, a:visited { color: hsl(320 100% 45%); }
  a:hover { color: #fff; }

  --bulma-body-background-color: hsla(320 100% 80% / 0.5);

  .box {
    --bulma-box-background-color: hsla(320 100% 80% / 0.5);
    --bulma-box-color: #000;
  }

  .content {
    --bulma-box-background-color: hsla(320 100% 80% / 0.5);
    --bulma-content-heading-color: hsl(0 0% 0%);
  }

  .navbar {
    --bulma-navbar-h: 360;
    --bulma-navbar-s: 100%;
    --bulma-navbar-item-color-l: 100%;
    --bulma-navbar-item-selected-l: 5%;
    --bulma-navbar-item-selected-background-l: 63%;
    --bulma-navbar-background-color: hsl(320 100% 45%);
  }

  .navbar-brand .navbar-item { color: #fff; }

  trix-editor {
    background-color: #fff;
  }
  .footer {
    --bulma-footer-background-color: hsla(320 100% 80% / 0.0);
    // --bulma-footer-color: hsla(320 100% 80% / 0.5);
  }
  .slogan { color: #000; font-weight: 900; }
}

// =======================================================
[data-theme=unionreddark],
.theme-unionreddark {
  html { background-color: hsl(0 0% 0%); color: #f00; }
  body { background-color: hsl(0 0% 0%); color: #f00; }
   

  color: #f00;
  a:link, a:visited { color: #f00; }
  a:hover { color: #fff; }

  --bulma-body-background-color: hsl(0 0% 0%);

  .box {
    --bulma-box-background-color: hsl(0 0% 0%);
    --bulma-box-color: hsl(360 100% 50%);
  }


  .content {
    --bulma-box-background-color: hsl(0 0% 0%);
    --bulma-content-heading-color: hsl(360 100% 50%);
  }

  .navbar {
    --bulma-navbar-background-color: hsl(0 0% 0%);
    --bulma-navbar-h: 0;
    --bulma-navbar-s: 100%;
    --bulma-navbar-item-color-l: 50%;
    --bulma-navbar-item-selected-l: 5%;
    --bulma-navbar-item-selected-background-l: 63%;
  }
  .footer {
    --bulma-footer-background-color: hsl(0 0% 0%);
  }
  .slogan { color: #f00; font-weight: 900; }
}

// =======================================================
[data-theme=unionredlight],
.theme-unionredlight {
  html { background-color: hsl(360 100% 100%); color: #f00; }
  body { background-color: hsl(360 100% 100%); color: #f00; }

  color: #000;
  a:link, a:visited { color: #f00; }
  a:hover { color: #000; }

  .input { background-color: hsl(360 100% 100%); color: hsl(360 100% 50%); }

  --bulma-body-background-color: hsl(360 100% 100%);
  --bulma-input-background-l: hsl(360 100% 100%);
  --bulma-label-color: hsl(360 100% 50%);

  .box {
    --bulma-box-background-color: hsl(360 100% 100%);
    --bulma-box-color: hsl(0 0% 0%);
  }

  .content {
    --bulma-box-background-color: hsl(0 0% 0%);
    --bulma-content-heading-color: hsl(360 100% 50%);
  }

  .navbar {
    --bulma-navbar-background-color: hsl(360 100% 100%);
    --bulma-navbar-h: 0;
    --bulma-navbar-s: 100%;
    --bulma-navbar-item-color-l: 50%;
    --bulma-navbar-item-selected-l: 5%;
    --bulma-navbar-item-selected-background-l: 63%;
  }
  .footer {
    --bulma-footer-background-color: hsl(360 100% 100%);
  }
  .slogan { color: #f00; font-weight: 900; }

  trix-editor {
    background-color: #fff;
  }
}

// =======================================================
.blog {
  & .post { }
  & .post-author { font-size: 1em; padding-left: 5px; }
  & .post-content { font-size: 1em; padding-left: 5px; }
  & .comment { }
  & .comment-author { font-size: 1em; padding-left: 5px; }
  & .comment-content { font-size: 1em; padding-left: 5px; }
}

.blog-author { font-size: 1em; padding-left: 5px; }
.blog-body { font-size: 1em; padding-left: 5px; }
.blog-description { font-size: 1em; padding-left: 5px; }
.blog-title { font-size: 1.5em; padding-left: 5px; }

.diversion{
  & .post { }
  & .post-author { font-size: 1em; padding-left: 5px; }
  & .post-content { font-size: 1em; padding-left: 5px; }
}

.comment { }
.comment-author { font-size: 1em; padding-left: 5px; }
.comment-content { font-size: 1em; padding-left: 5px; }

.builtby { font-weight: 900; }
.poweredby { margin-left: 10px; }
.copyright { font-weight: bold; margin-right: 10px; }

.main { background-color: #ff0; left-margin: 10%; }

.post {
  & .comment { }
  & .comment-author { font-size: 1em; padding-left: 5px; }
  & .comment-content { font-size: 1em; padding-left: 5px; }
}

.post-diversion { font-size: 1em; padding-left: 5px; }
.post-blog { font-size: 1em; padding-left: 5px; }
.post-author { font-size: 1em; padding-left: 5px; }
.post-content { font-size: 1em; padding-left: 5px; }
.post-title { font-size: 1.5em; padding-left: 5px; }

.username { font-size: 2em; }
.user-about { }
.user-link-left { margin-right: 5px; }
.user-link-middle { margin-left: 5px; margin-right: 5px; }
.user-link-right { margin-left: 5px; }



trix-toolbar .trix-button-group button {
  background-color: ivory;
}
