// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
//@import "bulma/sass/utilities/_all.sass";
//@import "bulma/sass/base/_all.sass";
//@import "bulma/sass/elements/button.sass";
//@import "bulma/sass/elements/container.sass";
//@import "bulma/sass/elements/title.sass";
//@import "bulma/sass/form/_all.sass";
//@import "bulma/sass/components/navbar.sass";
//@import "bulma/sass/layout/hero.sass";
//@import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';

@media (prefers-color-scheme: hardboiled) {
  :root {
   html { background-color: hsl(60,95%,45%); }
   body { background-color: hsl(60,95%,45%); }
   --bulma-body-background-color: hsl(60 95% 45%);
  }
  .navbar {
    --bulma-navbar-h: 0;
    --bulma-navbar-s: 100%;
    --bulma-navbar-item-color-l: 50%;
    --bulma-navbar-item-selected-l: 5%;
    --bulma-navbar-item-selected-background-l: 63%;
    --bulma-navbar-background-color: hsl(60,95%,45%);

  }
  .footer {
    --bulma-footer-background-color: hsl(60 95% 45%);
  --bulma-footer-color: hsl(0 360% 50%);
  }
}

@media (prefers-color-scheme: unionred) {
  :root {
    // --bulma-body-background-color: hsl(50 100% 50%);
  }
  .navbar {
    --bulma-navbar-h: 0;
    --bulma-navbar-s: 100%;
    --bulma-navbar-item-color-l: 50%;
    --bulma-navbar-item-selected-l: 5%;
    --bulma-navbar-item-selected-background-l: 63%;
  }
  .footer {
    --bulma-footer-background-color: hsl(0 100% 100%);
  }
}

[data-theme=hardboiled],
.theme-harboiled {

   html { background-color: hsl(60,95%,45%); }
   body { background-color: hsl(60,95%,45%); }
   --bulma-body-background-color: hsl(60 95% 45%);
  .navbar {
    --bulma-navbar-h: 0;
    --bulma-navbar-s: 100%;
    --bulma-navbar-item-color-l: 50%;
    --bulma-navbar-item-selected-l: 5%;
    --bulma-navbar-item-selected-background-l: 63%;
    --bulma-navbar-background-color: hsl(60,95%,45%);

  }
  .footer {
    --bulma-footer-background-color: hsl(60 95% 45%);
  --bulma-footer-color: hsl(0 360% 50%);
  }
}

[data-theme=unionred],
.theme-unionred {
  color: #f00;
  a:link, a:hover, a:visited { color: #f00; }

  // --bulma-body-background-color: hsl(360 100% 90%);
  .navbar {
    --bulma-navbar-h: 0;
    --bulma-navbar-s: 100%;
    --bulma-navbar-item-color-l: 50%;
    --bulma-navbar-item-selected-l: 5%;
    --bulma-navbar-item-selected-background-l: 63%;
  }
  .footer {
    --bulma-footer-background-color: hsl(0 100% 100%);
  }
}

.slogan { color: #f00; font-size: 2em; font-weight: 900; }
