<p style="color: green"><%= notice %></p>

<h1>Organizations</h1>

<div id="organizations">
  <% @organizations.each do |organization| %>
    <%= render organization %>
    <hr>
  <% end %>
</div>

<%= link_to "New organization", new_organization_path %>
