<footer>
<div class="container-fluid">
  <p><%= link_to "About", about_url %></p>
<p>&copy; 2023 Workers.Win</p>
<p>This is free and open source software. Please consider support the development. <a href="https://store.workers.win" target=_blank>Workers.Win Store.</a></p>
<p>The software is licensed under the GNU AFFERO GENERAL PUBLIC LICENSE V3. You can find the source at <a href="https://github.com/WorkersWin/Engage" target=_blank>WorkersWin/Engage</a></p>
<p>
</div>
</footer>
